.pepe{
	width:150px;
	height:150px;
}

html {
  background-color: #f5f7f9;
}

body {
  background: none;
  color: #69707a;
  font-family:"Open Sans", Arial, sans-serif;
  padding-top: 55px;
}
strong {
  color: #222324;
}
.navbar {
  background: #c3f3f7;
}

.navbar-dark .navbar-brand{
	color: green;
}
.navbar-dark .navbar-nav .open > .nav-link, .navbar-dark .navbar-nav .open > .nav-link:focus, .navbar-dark .navbar-nav .open > .nav-link:hover, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .active > .nav-link:focus, .navbar-dark .navbar-nav .active > .nav-link:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover{
	color: green;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #163d1e;
  font-weight: 500;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("https://ih1.redbubble.net/image.188366880.9432/flat,800x800,075,f.u1.jpg");
}

